// Global
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20em;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20em;
  /* Set the fixed height of the footer here */
}

a {
  font-weight: 600;
}

.page-content{
  padding-bottom: 3em;
}